/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

body {
  background: url("../images/waves-overlay.jpg");
  background-position: center;
  font-family: "Poppins", "Oswald", sans-serif;
}

.changeColor {
  background-color: white;
}

#stroLogo {
  font-size: 50px;
  padding-top: 7px;
}

.introLarge {
  color: white;
  text-align: center;
  padding-top: 175px;
}

#companyname {
  font-size: 120px;
  font-style: italic;
  font-weight: bold;
}

#slogan {
  font-size: 35px;
  padding-bottom: 10px;
  transform: skewX(8deg);
}

hr {
  border-width: 10px;
  width: 120px;
  border-radius: 5px;
  border-color: white;
}

.button {
  font-size: 25px;
  border-radius: 12px;
  background-color: transparent;
  border: 4px solid white;
}

.buttonsLanding {
  color: white;
  font-weight: bold; 
}

.buttonsLanding:hover {
  color: white;
}

#midButton {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
