/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

body {
  font-family: "Poppins", "Oswald", sans-serif;
  color: blue;
  text-align: center;
}

.panelParent {
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

.panelChild {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1;
}

#landingScreen {
  position: fixed;
  padding-top: 200px;
  background-image: url('../images/waves-overlay.jpg');
  background-position: center;
  z-index: -1;
}

#companyName {
  font-size: 120px;
  font-style: italic;
  font-weight: bold;
}

#slogan {
  font-size: 35px;
  padding-bottom: 10px;
  transform: skewX(8deg);
}

hr {
  border-width: 10px;
  width: 120px;
  border-radius: 5px;
  border-color: white;
}

.button {
  font-size: 25px;
  border-radius: 12px;
  background-color: transparent;
  border: 4px solid white;
}

.buttonsLanding {
  color: white;
  font-weight: bold;
}

.buttonsLanding:hover {
  color: white;
}

#midButton {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#aboutUs {
  margin-top: 100%;
  background-color: white;
}

.titleContent {
  color: #73C2FB;
  font-size: 100px;
  font-weight: bold;
}

.textContent {
  color: #73C2FB;
  font-size: 25px;
}

#products {
  margin-top: 100%;
  background-color: white;
}
