/*-----------------------*/
/*----- CSS Styles -----*/
/*---------------------*/

body {
  font-family: "Poppins", "Oswald", sans-serif;
  color: blue;
  text-align: center;
}

#stroLogo {
  font-size: 50px;
  padding-top: 7px;
}

.landingScreen {
  background: url("../images/waves-overlay.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.landingContent {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
}

#companyname {
  font-size: 120px;
  font-style: italic;
  font-weight: bold;
}

#slogan {
  font-size: 35px;
  padding-bottom: 10px;
  transform: skewX(8deg);
}

hr {
  border-width: 10px;
  width: 120px;
  border-radius: 5px;
  border-color: white;
}

.button {
  font-size: 25px;
  border-radius: 12px;
  background-color: transparent;
  border: 4px solid white;
}

.buttonsLanding {
  color: white;
  font-weight: bold;
}

.buttonsLanding:hover {
  color: white;
}

#midButton {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

a:hover {
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.aboutUs {
  background-color: pink;
}
